<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" defer></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet" media="print" onload="this.media='all'">

<div class="the-gallery">

  <div id="main-carousel" class="splide" aria-label="{{ product.title }} photo gallery">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="image1.jpg" alt="">
        </li>
        <li class="splide__slide">
          <img src="image2.jpg" alt="">
        </li>
        <li class="splide__slide">
          <img src="image3.jpg" alt="">
        </li>
        <li class="splide__slide">
          <img src="image4.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>
  
  <ul id="thumbnails" class="thumbnails">
    <li class="thumbnail">
      <img src="thumbnail1.jpg" alt="">
    </li>
    <li class="thumbnail">
      <img src="thumbnail2.jpg" alt="">
    </li>
    <li class="thumbnail">
      <img src="thumbnail3.jpg" alt="">
    </li>
    <li class="thumbnail">
      <img src="thumbnail4.jpg" alt="">
    </li>
  </ul>
  
</div>
