
<div class="delivery-time tabset">
  <h3>Delivery time</h3>
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="national" checked>
  <label for="tab1">UAE Orders</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="international">
  <label for="tab2">International Orders</label>
  
  <div class="tab-panels">
    <section id="national" class="tab-panel">
      <ul>
        <li>We provide Next Day Delivery for all UAE orders placed before 1:00 PM</li>
        <li>4-hour Delivery orders placed on Fridays (after 5:00 PM), Saturdays and Sundays will be processed the following Monday</li>
        <li>Next Day Delivery orders placed on Fridays (after 1:00 PM), Saturdays and Sundays will be processed the following Monday</li>
        <li>All orders placed on Public Holidays will be processed on the next working day</li>
      </ul>
  </section>
  <section id="international" class="tab-panel">
    <ul>
      <li>We provide Next Day Delivery for all UAE orders placed before 1:00 PM</li>
      <li>4-hour Delivery orders placed on Fridays (after 5:00 PM), Saturdays and Sundays will be processed the following Monday</li>
      <li>Next Day Delivery orders placed on Fridays (after 1:00 PM), Saturdays and Sundays will be processed the following Monday</li>
      <li>All orders placed on Public Holidays will be processed on the next working day</li>
    </ul>
  </section>
  </div>
  
</div>

