{% comment %}

<div class="delivery-time tabset">

  <h3>Delivery time</h3>
  
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="national" checked>
  <label for="tab1">UAE Orders</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="international">
  <label for="tab2">International orders</label>
  
  <div class="tab-panels">
    <section id="national" class="tab-panel">
      <ul>
        <li>We provide Next Day Delivery for all UAE orders placed before 1:00 PM</li>
        <li>4-hour Delivery orders placed on Fridays (after 5:00 PM), Saturdays and Sundays will be processed the following Monday</li>
        <li>Next Day Delivery orders placed on Fridays (after 1:00 PM), Saturdays and Sundays will be processed the following Monday</li>
        <li>All orders placed on Public Holidays will be processed on the next working day</li>
      </ul>
    </section>
    <section id="international" class="tab-panel">
      <ul>
        <li>We provide Next Day Delivery for all UAE orders placed before 1:00 PM</li>
        <li>4-hour Delivery orders placed on Fridays (after 5:00 PM), Saturdays and Sundays will be processed the following Monday</li>
        <li>Next Day Delivery orders placed on Fridays (after 1:00 PM), Saturdays and Sundays will be processed the following Monday</li>
        <li>All orders placed on Public Holidays will be processed on the next working day</li>
      </ul>
    </section>    
  </div>
  
</div>

{% endcomment %}

<!-- 
  
  Radio version of tabs.

  Requirements:
  - not rely on specific IDs for CSS (the CSS shouldn't need to know specific IDs)
  - flexible for any number of unkown tabs [2-6]
  - accessible

  Caveats:
  - since these are checkboxes the tabs not tab-able, need to use arrow keys

  Also worth reading:
  http://simplyaccessible.com/article/danger-aria-tabs/
-->

<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">Märzen</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">Rauchbier</label>
  
  <div class="tab-panels">
    <section id="marzen" class="tab-panel">
      <h2>6A. Märzen</h2>
      <p><strong>Overall Impression:</strong> An elegant, malty German amber lager with a clean, rich, toasty and bready malt flavor, restrained bitterness, and a dry finish that encourages another drink. The overall malt impression is soft, elegant, and complex, with a rich aftertaste that is never cloying or heavy.</p>
      <p><strong>History:</strong> As the name suggests, brewed as a stronger “March beer” in March and lagered in cold caves over the summer. Modern versions trace back to the lager developed by Spaten in 1841, contemporaneous to the development of Vienna lager. However, the Märzen name is much older than 1841; the early ones were dark brown, and in Austria the name implied a strength band (14 °P) rather than a style. The German amber lager version (in the Viennese style of the time) was first served at Oktoberfest in 1872, a tradition that lasted until 1990 when the golden Festbier was adopted as the standard festival beer.</p>
  </section>
  <section id="rauchbier" class="tab-panel">
    <h2>6B. Rauchbier</h2>
    <ul>
      <li>We provide Next Day Delivery for all UAE orders placed before 1:00 PM</li>
      <li>4-hour Delivery orders placed on Fridays (after 5:00 PM), Saturdays and Sundays will be processed the following Monday</li>
      <li>Next Day Delivery orders placed on Fridays (after 1:00 PM), Saturdays and Sundays will be processed the following Monday</li>
      <li>All orders placed on Public Holidays will be processed on the next working day</li>
    </ul>
  </section>
  </div>
  
</div>

