{% assign count = 0 %}
{% for block in section.blocks %}
       {% assign count = count | plus: 1 %}
{% endfor %}

{% if count >= 2 %}
  <script src="{{ 'splide.min.js' | asset_url }}" defer></script>
{% endif %}

<div class="page-width">
  
</div>

{% schema %}
  {
    "name": "Banner Ads",
    "tag":"section",
    "class":"banner-slider-links",
    "settings": [
      {
        "type":"select",
        "id":"header_size",
        "label":"Title font size",
        "options":[
          {
            "value": "small",
            "label": "t:sections.image-banner.settings.image_height.options__1.label"
          },
          {
            "value": "medium",
            "label": "t:sections.image-banner.settings.image_height.options__2.label"
          },
          {
            "value": "large",
            "label": "t:sections.image-banner.settings.image_height.options__3.label"
          }
        ],
        "default":"medium"
      },
      {
        "type":"text",
        "id":"section_title",
        "label":"Add a title for the slider"
      },
      {
        "type":"text",
        "id":"section_description",
        "label":"Add a description for the slider"
      },
      {
        "type":"checkbox",
        "id":"show_text",
        "default":false,
        "label":"Do you want to hide the title and text?"
      },
      {
        "type":"text",
        "id":"css_class",
        "label":"Add CSS classes"
      }
    ],
    "blocks":[
      {
        "type":"heading",
        "name":"Add a slide",
        "settings":[
          {
            "type":"text",
            "id":"slide_title",
            "label":"Add a title for the slide"
          },
          {
            "type":"text",
            "id":"slide_text",
            "label":"Add a caption for the slide"
          },
          {
            "type":"image_picker",
            "id":"slide_image",
            "label":"Add an image on the slide"
          },
          {
            "type":"text",
            "id":"text_btn",
            "label":"Customize this slide's button",
            "default":"Shop now"
          },
          {
            "type":"url",
            "id":"slide_link",
            "label":"Add a link for this slide"
          },
          {
            "type":"select",
            "id":"text_align",
            "label":"Text orientation",
            "options":[
              {
                "value":"left",
                "label":"Left"
              },
              {
                "value":"center",
                "label":"Center"
              },
              {
                "value":"right",
                "label":"Right"
              }
            ],
            "default":"left"
          },
          {
            "type":"select",
            "id":"bg_color",
            "label":"Select a background color for the slide",
            "options":[
              {
                "value":"silver",
                "label":"Silver"
              },
              {
                "value":"golden",
                "label":"Golden"
              },
              {
                "value":"black",
                "label":"Black"
              },
              {
                "value":"pink",
                "label":"Pink"
              },
              {
                "value":"blue",
                "label":"Blue"
              },
              {
                "value":"red",
                "label":"Red"
              },
              {
                "value":"green",
                "label":"Green"
              }
            ]
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Banner with Ads"
      }
    ]
  }
{% endschema %}