{% unless template == "index" %}
  <nav class="breadcrumb-navigation">
    <ul>
      <li>
        <a href="{{ shop.secure_url }}">Home</a>{% render 'icon-arrow' %}
      </li>
    </ul>
  </nav>
{% endunless %}

{% schema %}
  {
    "name": "Breadcrumbs",
    "tag":"section",
    "class":"breadcrumbs",
    "settings": []
  }
{% endschema %}