<div class="page-width">
  
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.description }}</p>
  
  
  <ul class="designers-show">
    
    {% assign current = collection.title %}
    
    {% for collection in collections %}
    
    	{% if collection.metafields.my_fields.designer_type != blank %}
    
    		<li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
    
    	{% endif %}
    
    {% endfor %}
  </ul>
  
  
</div>




{% schema %}
  {
    "name": "Browse Designers",
	"tag": "section",
	"templates": ["collection"],
    "settings": [

		{
          "type": "text",
          "id": "title",
          "default": "Maison's Fashion Designers",
          "label": "Heading"
        },
				
        {
        "type": "range",
        "id": "collections_show",
        "min": 2,
        "max": 10,
        "default": 4,
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
        },

        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.featured-collection.settings.description.label"
        }

	],
 "presets": [
    {
      "name": "Display designers"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
