<div class="page-width">
  
</div>

{% schema %}
  {
    "name": "Collections grid V 2.0",
    "tag":"section",
    "class": "collections-grid",
    "templates":["page", "index"],
    "settings": [
      {
        "type":"header",
        "content":"Section settings"
      },
      {
        "type":"text",
        "id":"collections_title",
        "label":"Display a title"
      },
      {
        "type":"text",
        "id":"collections_par",
        "label":"Display a description"
      },
      {
        "type":"text",
        "id":"collections_button",
        "label":"Text for the button"
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
          },
          {
            "type":"image_picker",
            "id":"collection_image",
            "label":"Display a different image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Collections grid V 2.0"
      }
    ]
  }
{% endschema %}