<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var windowWidth = $(window).width();
    if( windowWidth < 767 ){
    {% assign MobileScreen = true %}
    console.log('Mobile');
    } else {
    {% assign MobileScreen = false %}
    console.log('Desktop');
    }
  });
</script>


<div class="page-width">
  {% if MobileScreen == true %}
    Mobile
  {% else %}
    Desktop
  {% endif %}
</div>


{% schema %}
  {
    "name": "Collections grid V 2.0",
    "tag":"section",
    "class": "collections-grid",
    "settings": [
      {
        "type":"header",
        "content":"Section settings"
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
          },
          {
            "type": "select",
            "id": "grid_size",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "big",
                "label": "Big"
              }
            ],
            "default": "small",
            "label": "Small / big box"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Collections grid V 2.0"
      }
    ]
  }
{% endschema %}