<div class="container-{{ section.settings.heading_color }}">

  <div class="page-width narrow">
    
  </div>

  <figure>
    {% assign image = article.image %}  
    <img
    src="{{ image | image_url: width:'480x', crop: 'top' }}"
    alt="{% if image.alt %}{{ image.alt }} - {% endif %}{{ article.title }}"
    />    
  </figure>
  
</div>

{% schema %}
  {
    "name": "Custom article heading",
    "tag":"section",
    "class":"single-post-header",
    "templates":["article"],
    "settings": [
      {
        "type": "select",
        "id": "heading_color",
        "label":"Select the color for the heading section",
        "options":[
          {
            "value":"white",
            "label":"White"
          },
          {
            "value":"grey",
            "label":"Grey"
          },
          {
            "value":"black",
            "label":"Black"
          }
        ],
        "default":"black"
      }
    ],
    "presets":[
      {
        "name":"Custom article heading"
      }
    ]
  }
{% endschema %}