<div class="page-width narrow date-container">
<div>
  <small><b>{{ 'blogs.article.date' | t }}</b>{{ article.published_at | date: "%b %d, %y" }}</small>
  {% if article.metafields.custom.time_reading.value  %}<small><b>{{ 'blogs.article.time' | t }}</b>{{ article.metafields.custom.time_reading }}'</small>{% endif %}
</div>

  
</div>

{% schema %}
  {
    "name": "Custom date & time",
    "tag":"section",
    "class":"section-date-time",
    "templates":["article"],
    "presets": [
      {
        "name":"Custom date & time"
      }
    ]
  }
{% endschema %}