<div class="page-width narrow">

  <h2></h2>

  {% assign current_title = article.title %}

  {% for post in blog.articles limit: 4 %}

    {% unless post.title == current_title %}
    
      {{ post.title }}
      
    {% endunless %}
  
  {% endfor %}
  
</div>


{% schema %}
  {
    "name": "Custom recent articles",
    "tag":"section",
    "class":"blogs-list",
    "templates":["article"],
    "settings": [
      {
        "type":"text",
        "id":"section_title",
        "label":"Section title",
        "default":"Recent articles"
      }
    ],
    "presets": [
      {
        "name":"Custom recent articles"
      }
    ]
  }
{% endschema %}