<div class="page-width">

<article class="article">
  {{ article.content }}  
</article>

{% render 'blog-sidebar' %}

</div>





{% schema %}
  {
    "name": "Custom article content",
    "tag":"section",
    "class":"post-content",
    "templates":["article"],
    "settings":[
      {
        "type":"checkbox",
        "id":"enable_commnets",
        "label":"Enable comments?",
        "default": false
      }
    ],
    "presets": [
      {
        "name":"Custom article content"
      }
    ]
  }
{% endschema %}