{% comment %}

{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true 
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% endcomment %}

<div class="page-width post-container">



  {% comment %}
  {% for field in article.metafields.custom.blog_cat.value %}
  {{ article.metafields.custom.blog_cat.value }}
  {% endfor %}
  {% endcomment %}
  
  {% capture fields %}
    {% for article in blog.articles %}
      {% for field in article.metafields.custom.blog_cat.value %}
        {{ article.metafields.custom.blog_cat.value }},
      {% endfor %}
    {% endfor %}
  {% endcapture %}


  {% assign potion_array = fields | split: ', ' %}

  {{ potion_array | uniq | join: ', ' }}







  
</div>

{% schema %}
  {
    "name": "Custom blog list",
    "tag":"section",
    "class":"blogs-list",
    "templates":["blog"],
    "settings": [
      {
        "type":"checkbox",
        "id":"use_categories",
        "label":"Display categories",
        "default":false
      }
    ],
    "presets": [
      {
        "name":"Custom blog list"
      }
    ]
  }
{% endschema %}