{% comment %} Controllers for categories {% endcomment %}

{% if section.settings.use_categories == true %}

  <div class="page-width navigation-container">

    <span class="all active">All</span>
  
  {% assign controllers = '' | split: '' %}
  {% for article in blog.articles %}
      {% assign controllerName = article.metafields.custom.blog_cat.value | split: ', '  %}
      {% assign controllers = controllers | concat: controllerName | uniq %}
  {% endfor %}
  
  
  {% for controller in controllers %}
    <span class="{{ controller | downcase }}">{{ controller }}</span>  
  {% endfor %}
    
  </div>

{% endif %}

<div class="featured-articles page-width">
{%- for article in blog.articles -%}

  {% if article.metafields.custom.featured_article == true %}
    Featured
  {% endif %}

{%- endfor -%}
</div>

{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        {% if article.metafields.custom.featured_article != true %}
          Normal post
        {% endif %}
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}


{% schema %}
  {
    "name": "Custom blog list",
    "tag":"section",
    "class":"blogs-list",
    "templates":["blog"],
    "settings": [
      {
        "type":"checkbox",
        "id":"use_categories",
        "label":"Display categories",
        "default":false
      }
    ],
    "presets": [
      {
        "name":"Custom blog list"
      }
    ]
  }
{% endschema %}