<div class="page-width">
<h1 class="h0">{{ blog.title | escape }}</h1>
{{ blog.metafields.custom.description | tag : 'p' }}
</div>

{% schema %}
  {
    "name": "Custom blog title",
    "tag":"section",
    "class":"blog-title",
    "templates":["blog"],
    "settings": [],
    "presets":[
      {
        "name":"Custom blog title"
      }
    ]
  }
{% endschema %}