<div class="page-width">
  
  {{ sections.settings.description }}

  {% if page.title == "Designers" %}
  	<p>View all designers</p>
  {% endif %}

</div>

{% schema %}
  {
    "name": "Browse Designers",
	"tag": "section",
	"class": "custom-designers-collections",
	"templates": ["page"],
    "settings": [

		{
          "type": "richtext",
          "id": "description",
          "label": "t:sections.featured-collection.settings.description.label"
        }

	],
 "presets": [
    {
      "name": "Collection for this page"
    }
  ]
  }
{% endschema %}