<div class="page-width narrow">

  {% for article in blog.articles %}
    Post
  {% endfor %}
  
</div>


{% schema %}
  {
    "name": "Custom recent articles",
    "tag":"section",
    "class":"blogs-list",
    "templates":["article"],
    "presets": [
      {
        "name":"Custom recent articles"
      }
    ]
  }
{% endschema %}