<div class="page-width">

  

</div>

{% schema %}
  {
    "name": "Browse Designers",
	"tag": "section",
	"class": "custom-designers-collections",
	"templates": ["page"],
    "settings": [

		{
          "type": "richtext",
          "id": "description",
          "label": "t:sections.featured-collection.settings.description.label"
        }

	],
 "presets": [
    {
      "name": "Collection for this page"
    }
  ]
  }
{% endschema %}