<div class="page-width narrow">

  {% assign current_title = article.title %}

  {% for posts in blog.articles limit: 4 %}
    
      {{ article.title }}
  
  {% endfor %}
  
</div>


{% schema %}
  {
    "name": "Custom recent articles",
    "tag":"section",
    "class":"blogs-list",
    "templates":["article"],
    "presets": [
      {
        "name":"Custom recent articles"
      }
    ]
  }
{% endschema %}