{% if section.settings.show_newsletter == true %}
  <section class="nl-form">
    
  </section>
{% endif %}

{% schema %}
  {
    "name": "Footer new",
    "tag":"footer",
    "class":"new-footer",
    "settings": [
      {
        "type":"header",
        "content":"Newsletter subscription"
      },
      {
        "type":"checkbox",
        "id":"show_newsletter",
        "label":"Show newsletter subscription form",
        "default":true
      }
    ]
  }
{% endschema %}