<a id="siteBranding">
  <figure>
    <img
    src="{{ section.settings.logo.src | width: '200x' }}"
    alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
    srcset=""
    sizes=""
    />
  </figure>
</a>


{% schema %}
  {
    "name": "Customized header",
    "tag":"header",
    "class":"header-custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      }
    ]
  }
{% endschema %}