<a id="siteBranding">
  <figure>
    {% assign logo = section.settings.logo %}
    <img
    src="{{ logo | image_url: width: '120x' }}"
    alt="{{ logo | default: shop.name | escape }}"
    srcset="
    
    "
    sizes="
    
    80vw"
    width=""
    height=""
    />
  </figure>
</a>


{% schema %}
  {
    "name": "Customized header",
    "tag":"header",
    "class":"header-custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      }
    ]
  }
{% endschema %}