<div class="page-width image-{{ section.settings.image_position }} {{ section.settings.custom_class }}">
  <figure>
    {% liquid
    if section.settings.image_position != full 
      assign sizes = "(min-width: 750px) 50vw, 100vw"
    else
      assign sizes = "100vw"
    endif
    %}
    {{ section.settings.image | image_url: width: 1600 | image_tag:
      loading: 'lazy',
      width: section.settings.image.width,
      height: section.settings.image.height,
      sizes: sizes,
      widths: '375, 550, 750, 1600',
      alt: section.settings.image.alt | escape
    }}
  </figure>
  <article>
    
  </article>
</div>

{% schema %}
  {
    "name": "Link Banner",
    "tag": "section",
    "class": "link-banner",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Add a class to your banner"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Select the position for the image",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "full",
            "label": "Full (background)"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select an image for your banner"
      }
    ],
    "presets": [
      {
        "name": "Link Banner"
      }
    ]
  }
{% endschema %}