{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'customers-pages-all.css' | asset_url | stylesheet_tag }}

<div class="customer returns-box">
  <div class="box">
    <h1>Return & Refund my order</h1>
    <p>Please review our <a href="#">Returns & refunds policy</a> before starting the procedure.</p>

    {% if customer.id == null %}
      <div id="user_type">
        <a id="account_user" href="#" class="refund-btn">
          <button>
            <span>I have an account</span>
            Please login to your account and apply on the Refund request form
            {% render 'icon-arrow' %}
          </button>
        </a>
        <a id="guest_user" href="#" class="refund-btn">
          <button>
            <span>I am a guest</span>
            Please click here to fill the Refund request form
            {% render 'icon-arrow' %}
          </button>
        </a>
      </div>
      <div id="form_container" style="display:none;">
        Test form
      </div>
    {% else %}
    
      
    
    {% endif %}    
    
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function(){
    $('#guest_user').on('click', function(){
      $('#user_type').css('display','none');
      $('#form_container').css('display','block');
    })
  });  
</script>


{% schema %}
  {
    "name": "Returns-select-option",
    "settings": [],
    "presets":[
      {
        "name":"Returns-select-option"
      }
    ]
  }
{% endschema %}