{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'customers-pages-all.css' | asset_url | stylesheet_tag }}

<div class="customer">
  <div class="box">
    <h1>Return & Refund an order</h1>
    <p>Please review our <a href="#">Returns & refunds policy</a> before starting the procedure.</p>
    <a href="#" class="refund-btn">
      <button>
        <span>I have an account</span>
        Please login to your account and apply on the Refund request form
        {% render 'icon-arrow' %}
      </button>
    </a>
    <a href="#" class="refund-btn">
      <button>
        <span>I am a guest</span>
        Please click here to fill the Refund request form
        {% render 'icon-arrow' %}
      </button>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Returns-select-option",
    "settings": [],
    "presets":[
      {
        "name":"Returns-select-option"
      }
    ]
  }
{% endschema %}