<article class="the-product details page-width">
  
  <div class="column">
    <div class="list">
      <h2>Size & fit</h2>
      {% if product.metafields.my_fields.size_fit.value %}
        {{ product.metafields.my_fields.size_fit.value }}
      {% endif %}
    </div>
    <div class="list">
      <h2>Details & Care</h2>
      {% if product.metafields.my_fields.design_details_care.value %}
        {{ product.metafields.my_fields.design_details_care.value }}
      {% endif %}
    </div>
  </div>
  
  <div class="column">
    <div class="par">
      <h2>Delivery and returns</h2>
    </div>
  </div>
  
</article>


{% schema %}
  {
    "name": "Product details care",
    "tag":"section",
    "class":"product-details",
    "templates":["product"],
    "presets":[
      {
        "name":"Product details care"
      }
    ],
    "settings": []
  }
{% endschema %}