<article class="the-product details">
  
  <div class="column">
    <div class="list">
      <h2>Size & fit</h2>
    </div>
    <div class="list">
      <h2>Details & Care</h2>
    </div>
  </div>
  
  <div class="column">
    <div class="par">
      <h2>Delivery and returns</h2>
    </div>
  </div>
  
</article>


{% schema %}
  {
    "name": "Product details care",
    "tag":"section",
    "class":"product-details",
    "templates":["product"],
    "presets":[
      {
        "name":"Product details care"
      }
    ],
    "settings": []
  }
{% endschema %}