<article class="the-product details">
  
  <div class="column">
    
  </div>
  
  <div class="column">
    
  </div>
  
</article>


{% schema %}
  {
    "name": "Product secondary section",
    "tag":"section",
    "class":"product-details",
    "templates":["product"],
    "settings": []
  }
{% endschema %}