<div clas="page-width">
  <h2></h2>
  
</div>

{% schema %}
  {
    "name": "More from this brand",
    "tag":"section",
    "class":"recommended",
    "templates":["product"],
    "settings": [
      {
        "type":"header",
        "content":"Content settings"
      }
    ]
  }
{% endschema %}