<link rel="stylesheet" href="{{ 'custom-card-product.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="page-width">
  <h2>{{ section.settings.section_title }}{% if section.settings.show_vendor_name == true %} from {{ product.vendor }}{% endif %}</h2>
  
  {% assign mycollection = product.vendor | handle %}
  {% assign current_product = product.title %}
  {% assign max_prod = section.settings.limit_products %}
  {% assign i = 0 %}
  
  {% for product in collections[mycollection].products %}
    {% if product.title == current_product %}{% continue %}{% endif %}    
      {% render 'custom-card-product', card_product: product, section_id: section.id %}
      {% assign i = i | plus:1 %}
  {%- endfor -%}
  
</div>

{% schema %}
  {
    "name": "More from this brand",
    "tag":"section",
    "class":"recommended",
    "templates":["product"],
    "settings": [
      {
        "type":"header",
        "content":"Section heading"
      },
      {
        "type":"text",
        "id":"section_title",
        "label":"Write a headline",
        "default":"What's new"
      },
      {
        "type":"checkbox",
        "id":"show_vendor_name",
        "label":"Show brand on title",
        "default":true
      },
      {
        "type":"header",
        "content":"Content settings"
      }
    ]
  }
{% endschema %}