<div class="page-width">
  <h2>WHat's new from {{ product.vendor }}</h2>
  {% assign mycollection = product.vendor | handle | sort: 'created_at' %}
  {% assign current_product = product.title %}
  {% for product in collections[mycollection].products limit: 5 %}
        
        
        
          {% unless product.title == current_product %}

            {% render 'custom-card-product', card_product: product, section_id: section.id %}
            

          {% endunless %}
        {%- endfor -%}
  
</div>

{% schema %}
  {
    "name": "More from this brand",
    "tag":"section",
    "class":"recommended",
    "templates":["product"],
    "settings": [
      {
        "type":"header",
        "content":"Content settings"
      }
    ]
  }
{% endschema %}