{% for block in section.blocks %}
  {% if block.settings.icon_link %}<a href="{{ block.settings.icon_link }}" title="{{ block.settings.title_label }}">{% endif %}
    <figure>
      {{ block.settings.image_label | image_url }}
      <figcaption>
        {{ block.settings.title_label }}
      </figcaption>
    </figure>
  {% if block.settings.icon_link %}</a>{% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Info icons",
    "tag":"section",
    "class":"info-icons",
    "max_blocks": 3,
    "settings": [
      {
        "type":"header",
        "content":"Icons style"
      },
      {
        "type":"select",
        "id":"icons_theme",
        "label":"Select style",
        "options":[
          {
            "value":"dark",
            "label":"Dark"
          },
          {
            "value":"light",
            "label":"Light"
          }
        ],
        "default":"light"
      }
    ],
    "blocks": [
      {
        "type":"text",
        "name":"label",
        "settings":[
          {
            "type":"header",
            "content":"Icon content"
          },
          {
            "type":"text",
            "id":"title_label",
            "label":"Type a title"
          },
          {
            "type":"image_picker",
            "id":"image_label",
            "label":"Select an icon"
          },
          {
            "type":"url",
            "id":"icon_link",
            "label":"Add link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Info icons"
      }
    ]
  }
{% endschema %}