.hide{
  display:none; 
}

/* NEXT GEN - MOBILE FIRST CSS */

/* backgrounds */

.bg-white {
    background-color: white;
}

.bg-silver{
  background: rgb(244,245,247);
  background: -moz-linear-gradient(45deg, rgba(244,245,247,1) 0%, rgba(231,232,235,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(244,245,247,1) 0%, rgba(231,232,235,1) 100%);
  background: linear-gradient(45deg, rgba(244,245,247,1) 0%, rgba(231,232,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f5f7",endColorstr="#e7e8eb",GradientType=1);
}

.bg-black{
  background: rgb(14,14,14);
  background: -moz-linear-gradient(45deg, rgba(14,14,14,1) 0%, rgba(87,87,87,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(14,14,14,1) 0%, rgba(87,87,87,1) 100%);
  background: linear-gradient(45deg, rgba(14,14,14,1) 0%, rgba(87,87,87,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e0e0e",endColorstr="#575757",GradientType=1);
}

.bg-golden{
  background: rgb(220,184,159);
  background: -moz-linear-gradient(45deg, rgba(220,184,159,1) 0%, rgba(136,103,88,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(220,184,159,1) 0%, rgba(136,103,88,1) 100%);
  background: linear-gradient(45deg, rgba(220,184,159,1) 0%, rgba(136,103,88,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcb89f",endColorstr="#886758",GradientType=1);
}

.bg-pink {
  background: rgb(217,165,165);
  background: -moz-linear-gradient(45deg, rgba(217,165,165,1) 0%, rgba(171,120,120,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(217,165,165,1) 0%, rgba(171,120,120,1) 100%);
  background: linear-gradient(45deg, rgba(217,165,165,1) 0%, rgba(171,120,120,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9a5a5",endColorstr="#ab7878",GradientType=1);
}

.bg-blue {
  background: rgb(159,205,220);
  background: -moz-linear-gradient(45deg, rgba(159,205,220,1) 0%, rgba(88,106,136,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(159,205,220,1) 0%, rgba(88,106,136,1) 100%);
  background: linear-gradient(45deg, rgba(159,205,220,1) 0%, rgba(88,106,136,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9fcddc",endColorstr="#586a88",GradientType=1);
}

.bg-red {
  background: rgb(197,44,44);
  background: -moz-linear-gradient(45deg, rgba(197,44,44,1) 0%, rgba(119,31,31,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(197,44,44,1) 0%, rgba(119,31,31,1) 100%);
  background: linear-gradient(45deg, rgba(197,44,44,1) 0%, rgba(119,31,31,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c52c2c",endColorstr="#771f1f",GradientType=1);
}

.bg-green {
  background: rgb(171,220,159);
  background: -moz-linear-gradient(45deg, rgba(171,220,159,1) 0%, rgba(88,136,126,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(171,220,159,1) 0%, rgba(88,136,126,1) 100%);
  background: linear-gradient(45deg, rgba(171,220,159,1) 0%, rgba(88,136,126,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#abdc9f",endColorstr="#58887e",GradientType=1);
}

/* FONT COLOR */

.bg-white h3, .bg-white p, .bg-white a.btn,
.bg-silver h3, .bg-silver p, .bg-silver a.btn{
  color: rgb(var(--color-foreground));
}

.bg-black h3, .bg-black p, .bg-black a.btn,
.bg-golden h3, .bg-golden p, .bg-golden a.btn,
.bg-pink h3, .bg-pink p, .bg-pink a.btn,
.bg-blue h3, .bg-blue p, .bg-blue a.btn,
.bg-red h3, .bg-red p, .bg-red a.btn,
.bg-green h3, .bg-green p, .bg-green a.btn {
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.45);
}

.bg-black a.btn.outline:before,
.bg-golden a.btn.outline:before,
.bg-pink a.btn.outline:before,
.bg-blue a.btn.outline:before,
.bg-red a.btn.outline:before,
.bg-green a.btn.outline:before{
  background:white!important;
}


.bg-black a.btn.outline svg.icon,
.bg-golden a.btn.outline svg.icon,
.bg-pink a.btn.outline svg.icon,
.bg-blue a.btn.outline svg.icon,
.bg-red a.btn.outline svg.icon,
.bg-green a.btn.outline svg.icon {
    stroke: #ffffff;
}

.bg-black a.btn.outline:hover svg.icon,
.bg-golden a.btn.outline:hover svg.icon,
.bg-pink a.btn.outline:hover svg.icon,
.bg-blue a.btn.outline:hover svg.icon,
.bg-red a.btn.outline:hover svg.icon,
.bg-green a.btn.outline:hover svg.icon {
    stroke: #000!important;
}

.bg-black a.btn.outline:hover,
.bg-golden a.btn.outline:hover,
.bg-pink a.btn.outline:hover,
.bg-blue a.btn.outline:hover,
.bg-red a.btn.outline:hover,
.bg-green a.btn.outline:hover{
  color:#000!important;
  border-color:white!important;
}


/* LAYOUT */

article.banner-container>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4.8rem 2.6rem;
    height: 64vh;
}

article.banner-container>div>figure {
    height: 100%;
    max-width: 90%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

article.banner-container>div>figure>img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: left;
}

article.banner-container>div>.banner-content {
    position: relative;
}

article.banner-container>div>.banner-content h3 {
    text-transform: uppercase;
    font-size: 4.4rem;
    line-height: 4.4rem;
    margin-bottom: 0.8rem;
    margin-top: 0;
}

article.banner-container>div>.banner-content a.btn.outline {
    text-decoration: none;
    padding: 1.4rem;
    display: flex;
    width: 100%;
    justify-content: center;
    border: 2px solid;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
  transition: all 160ms ease-out;
  overflow:hidden;
}

article.banner-container>div>.banner-content a.btn.outline svg{
  margin-left:1.8rem;
  position:relative;
}

article.banner-container>div>.banner-content a.btn.outline span {
    position: relative;
}

article.banner-container>div>.banner-content a.btn.outline:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: all 160ms ease-out;
}

article.banner-container>div>.banner-content a.btn.outline:hover{
  color:white;
}

article.banner-container>div>.banner-content a.btn.outline:hover svg.icon{
    fill: transparent;
    stroke: #ffffff;
}

article.banner-container>div>.banner-content a.btn.outline:hover::before{
  transform: translateY(0);
}

