section#info_section {
    display: none;
}

/* HEADING BLOG */

.container-black {
  background-color:black;
}

.container-white {
  background-color:white;
}

.container-grey {
  background-color:#e7e8eb;
}

.container-black .container-title .post-title > * {
  color:white;
}

h1{
  text-transform:uppercase;
}

p {
    font-size: 1.6rem;
}

.container-title {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (min-width:1024px){

  .container-title {
    padding-bottom: 10rem;
  }
  
}

@media screen and (min-width:1440px){

  .container-title {
    height: 50vh;
  }
  
}

.container-title figure:before {
  content: '';
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  top:0;
  left:0;
  opacity:50%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.container-title figure {
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  top:0;
  right:0;
  margin:0;
}

.container-title figure img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}

.container-title .post-title{
  position:relative;
}

@media screen and (min-width:1024px){

  .container-title figure{
    width:66%;
  }

  .container-title .post-title{
    width:66%;
  }
  
}

@media screen and (min-width:1440px){

  .container-title figure{
    width:70%;
  }

  .container-title .post-title{
    width:50%;
  }
  
}

p.date-time {
    margin-top: 3rem;
    font-size:1.2rem;
    margin-bottom: 0;
    padding: 1.5rem 0;
    border-top: 1px solid;
}

p.date-time span {
  margin-left:2rem;
}

@media screen and (min-width:1024px){

  p.date-time {
    width:fit-content;
  }

  p.date-time span {
    margin-left:3.6rem;
  }
  
}

/* Article content */

@media screen and (min-width:1200px){

  .post-content .page-width {
    display: flex;
    padding-top:12rem;
  }

  article.article {
    width: 70%;
    padding-top: 0!important;
    padding-right: 8rem!important;
    border-bottom:0!important;
    padding-bottom:0!important;
    margin-bottom:0!important;
  }

  aside{
    max-width:30%;
  }
  
}

@media screen and (min-width:1920px){
  article.article {
    padding-right: 12rem!important;
  }
}

article.article {
    padding: 3.8rem 0 6rem;
  margin-bottom: 6rem;
  border-bottom:1px solid;
}

article.article p {
  text-align:justify;
}

article.article h2{
  text-transform:uppercase;
  font-size:2rem;
}

@media screen and (min-width:990px){
  article.article h2{
    margin-top:6rem;
  }
}

article.article h3{
  font-family:Wotfard;
  text-transform:uppercase;
  font-size:2rem;
}

/* Product grids */

.post-products {
  margin: 3.8rem 0;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.post-products a{
  text-decoration: none;
}

.post-products.grid-2 a, .post-products.grid-4 a{
  width:50%;
}

@media screen and (min-width:1024px){
  .post-products.grid-4 a{
    width:25%;
  }
}

.post-products.grid-3 a, .post-products.grid-5 a{
  width:33%;
}

@media screen and (min-width:1024px){
  .post-products.grid-5 a{
    width:20%;
  }
}

.post-products figure {
  margin: 0;
  border: 4px solid transparent;
}

.post-products figure img {
  width:100%;
}

.post-products figure figcaption {
    font-size: 1.2rem;
    line-height:1.4rem;
    text-transform: uppercase;
    color: black;
    
}

/* Banners */

.article-promo-banner{
  margin: 2rem 0;
  width:100%;
  overflow:hidden;
}

@media screen and (min-width:1200px){
  .article-promo-banner{
    margin: 3.8rem 0;
  }
}

.article-promo-banner.color-black {
  background-color:black;
}

.article-promo-banner.color-white {
  background-color:white;
  border: 1px solid #e7e8eb;
}

.article-promo-banner.color-grey {
  background-color:#e7e8eb;
}

.article-promo-banner a > * {
  color:black;
  text-align:center!important;
  width:100%;
}

.article-promo-banner.color-black a > * {
  color:white;
}

.article-promo-banner a {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    position: relative;
    height: 190px;
    text-decoration: none;
    justify-content: center;
}

@media screen and (min-width:768px){
  .article-promo-banner a {
    padding: 2rem 16rem;
  }  
}

.article-promo-banner a > *{
  position:relative;
}

.article-promo-banner.img-left a{
  padding-left:40%;
}

.article-promo-banner.img-right a{
  padding-right:40%;
}

@media screen and (min-width:1024px){
  .article-promo-banner a, .article-promo-banner.img-right a, .article-promo-banner.img-left a {
    padding: 2rem 30%;
  }  
}

.article-promo-banner a figure{
  position:absolute;
  margin:0;
  top:0;
  height:100%;
}

.article-promo-banner.img-full a figure{
  width:100%;
  left:0;
  background-color:black;
}

.article-promo-banner.img-full a figure img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  opacity:.7;
}

.article-promo-banner.img-left a figure{
  width:45%;
  left:0;
}

.article-promo-banner.img-right a figure{
  width:45%;
  right:0;
}

@media screen and (min-width:1024px){
  .article-promo-banner.img-left a figure, .article-promo-banner.img-right a figure {
    width:33%;
  }  
}

.article-promo-banner.img-left a figure img, .article-promo-banner.img-right a figure img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: bottom;
}

.article-promo-banner a p{
  margin:0;
}

.article-promo-banner a p.upper-txt {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.article-promo-banner a p.promo-desc {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.article-promo-banner a h4 {
    text-transform: uppercase;
  font-size: 1.8rem;
    margin: 0 0 8px;
}


.article-promo-banner a span {
  display:none;
}

@media screen and (min-width:1200px){
  .article-promo-banner a p.upper-txt {
    font-size: 1.4rem;
  }
  .article-promo-banner a h4 {
    font-size: 2.4rem;
  }
  .article-promo-banner a p.promo-desc {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

/* BANNER GROUPS */

@media screen and (min-width:768px){
  .banner-group {
    display: flex;
    justify-content: space-between;
  }
  .banner-group>div {
    width: 49%;
  }

  .banner-group .article-promo-banner a, 
  .banner-group .article-promo-banner.img-right a, 
  .banner-group .article-promo-banner.img-left a {
    padding: 2rem 20%;
  }
}

@media screen and (min-width:1200px){
  .banner-group .article-promo-banner a, 
  .banner-group .article-promo-banner.img-right a, 
  .banner-group .article-promo-banner.img-left a {
    padding: 2rem 18%;
  }
}


/* Images with text */

.img-txt {
  display: flex;
  flex-direction: column;
  width:100%;
  overflow:hidden;
}

@media screen and (min-width:768px){
  .img-txt:not(.full) {
    padding-left: 40%;
    position: relative;
  }
}

.img-txt fig-group {
  display: flex;
  flex-direction: row;
  column-gap: .6rem;
}

.img-txt figure {
  margin: 0;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background:black;
}

.img-txt fig-group figure {
  height: auto;
  max-height:40vh;
}

@media screen and (min-width:768px){
  .img-txt fig-group figure {
    max-height:50vh;
  }
}

.img-txt figure a {
  display: block;
  width: 100%;
  height: 100%;
}

.img-txt figure img {
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
  transition:all 200ms ease-out;
}

@media screen and (min-width:1200px){
  .img-txt figure:hover img{
    transform:scale(1.1);
    opacity:.8;
  }
}

.img-txt h3 {
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom:0;
}

.img-txt h3 span {
  display: block;
  font-weight: 400;
}

/*
.img-txt {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  padding-top: 400px;
  position: relative;
}

@media screen and (min-width:768px){
  .img-txt {
    padding-top: 200px;
    padding-bottom:0;
    margin-bottom:4rem;
  }

  .img-txt.right{
    padding-left:calc(40% + 2.5rem);
  }

  .img-txt.left{
    padding-right:calc(40% + 2.5rem);
  }
}

.img-txt figure:after {
    content: "";
    display: block;
    position: absolute;
    width: 94%;
    height: 200px;
    bottom: 0;
    background: white;
    opacity: .8;
}

@media screen and (min-width:768px){
  .img-txt figure:after {
    content:unset;
  }
}

.img-txt.right figure:after{
  right:0;
}

.img-txt a {
  position:absolute;
  width:100%;
  top:0;
  left:0;
  height:auto;
  display:block;
}

@media screen and (min-width:768px){
  .img-txt a {
    width: 40%;
  }

  .img-txt.left a{
    left:unset;
    right:0;
  }
}

.img-txt a figure {
    width: 100%;
    margin: 0;
}

.img-txt a figure img {
    width: 100%;
}

.img-txt.left h3 {
    text-align: left;
    margin-bottom: 0;
  position:relative;
  padding:0 4.8rem 0 0;
}

.img-txt.right h3 {
    text-align: right;
    margin-bottom: 0;
  position:relative;
  padding:0 0 0 4.8rem;
}

.img-txt.left p{
  position:relative;
  padding:0 4.8rem 2.8rem 0;
  text-align:left;
}

.img-txt.right p{
  position:relative;
  padding:0 0 2.8rem 4.8rem ;
  text-align:right;
}

@media screen and (min-width:768px){
  .img-txt p{
    margin-bottom:0;
    border-bottom:1px solid;
  }
}


.img-txt.left p:after{
  content:'';
  display:block;
  position:absolute;
  width:60%;
  height:1px;
  background-color:black;
  opacity:.6;
  bottom:0;
  left:0;
}


.img-txt.right p:after{
  content:'';
  display:block;
  position:absolute;
  width:60%;
  height:1px;
  background-color:black;
  opacity:.6;
  bottom:0;
  right:0;
}

@media screen and (min-width:768px){
  .img-txt p:after{
    content:unset!important;
  }
}

*/




/* Button */

.btn.outline {
    width: 100%;
    display: flex;
    padding: 1.6rem;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.btn.outline span.icon-wrap {
    margin-right: 1rem;
    transform: rotateZ(180deg);
    display: flex;
}

@media screen and (min-width:768px){

  .btn.outline{
    width:fit-content;
    padding: 1.6rem 4rem;
  }
  
}


/* ASIDE */

aside {
    margin-bottom: 8rem;
}

aside p {
    font-size: 1.4rem;
}

aside h2 {
    font-family: Wotfard;
    font-weight: 200;
    font-size: 2.8rem;
    text-transform: uppercase;
}

/* Comments */

article.comment{
  display:flex;
  flex-direction:column-reverse;
  margin-bottom:2rem;
  padding-bottom:2rem;
  border-bottom:1px solid black;
}

article.comment:last-of-type{
  margin-bottom:6rem;
}

article.comment p {
  margin-bottom:0;
  font-style:italic;
}

article.comment span.comment-author {
  font-size:1.2rem;
  font-weight:600;
  text-transform:uppercase;
}

/* Form leave a comment */

form#comment_form .fields input, form#comment_form .fields textarea {
    border: 1px solid #b1b1b1;
    margin:0;
    margin-bottom: 1.2rem;
    padding: 1.5rem 1rem;
    width: 100%;
    min-height: 60px;
  text-transform:uppercase;
  font-size: 1.4rem;
}

h3.form-status {
    font-family: Wotfard;
}

form#comment_form .fields textarea{
  min-height:10rem;
}

form#comment_form .fields > *::placeholder {
  visibility:visible;
  opacity:1;
  text-transform:uppercase;
  font-size: 1.4rem;
}

input[type="submit"] {
    border: none;
    background: unset;
}

form#comment_form .btn.outline {
  padding:0;
  position:relative;
}

.btn.outline input {
    text-transform: uppercase;
    font-family: Wotfard;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    padding: 2.4rem;
    width: 100%;
    cursor: pointer;
}

form#comment_form .btn.outline svg.icon.icon-arrow {
    position: absolute;
    right: 10%;
}

@media screen and (min-width:768px){
  .btn.outline input{
    padding:2.4rem 8rem;
  }
}

@media screen and (min-width:768px) and (max-device-width:1024px){
  
  section.comment-form {
    display: flex;
    justify-content: space-between;
  }

  section.comment-form .section-title {
    padding-right: 5%;
    width: 40%;
  }

  section.comment-form .section-title h2 {
    margin-top:0;
  }

  section.comment-form form#comment_form {
    width: 60%;
  }
  
}

/* SECTION RELATED BLOGS */

.blogs-list .page-width h2 {
  padding-top: 6rem;
  margin-top: 6rem;
  border-top: 1px solid;
  font-family: Wotfard;
  font-weight: 200;
  font-size: 2.8rem;
  text-transform: uppercase;
  width:100%;
}

.blogs-list article:nthchild(4){
  display:none;
}

/* ARTICLE CARD */

article.blog-article {
  width:100%;
  overflow:hidden;
  margin-bottom:1.8rem;
}

@media screen and (min-width:1024px){

  .blogs-list .page-width{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }

  article.blog-article{
    width:32%;
  }

}

@media screen and (min-width:1024px){

  article.blog-article{
    margin-bottom:3.6rem;
  }
  
}

article.blog-article a {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  width: 100%;
  height: 400px;
  padding: 3.6rem;
}

@media screen and (min-width:1024px){

  article.blog-article a{
    padding-top:18rem;
    justify-content:flex-start;
    height:520px;
  }
  
}

@media screen and (min-width:1440px){

  article.blog-article a {
    height: 680px;
    padding: 8.8rem;
    padding-top: 32rem;
  }
  
}

article.blog-article a figure {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index:-1;
}

article.blog-article a figure img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: .7;
  transition: all 120ms ease-out;
}

@media screen and (min-width:1024px){

  article.blog-article a div>span {
    position: absolute;
    top: 100%;
    left: 3rem;
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    opacity:0;
    background: rgba(255, 255, 255, .95);
    color: black;
    transition:all 120ms ease-out;
  }

  article.blog-article:hover a div>span {
    top: 3rem;
    opacity:1;
  }

  article.blog-article:hover a figure img {
    opacity:1;
    transform:scale(1.1);
  }
  
}

@media screen and (min-width:1024px){

  article.blog-article:nth-child(1) div {
    max-width:48%
  }

}

article.blog-article a div > * {
    color:white;
}

article.blog-article a div small {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 2.2rem;
    display: block;
}

article.blog-article a div h3{
  text-transform:uppercase;
  font-family:Wotfard;
  margin:0 0 1.8rem;
  padding:1.8rem 0;
  border-top:1px solid;
  border-bottom:1px solid;
}

article.blog-article a div p {
    font-size: 1.3rem;
    font-weight: 200;
}

article.blog-article a div>span {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

article.blog-article a div>span svg {
  margin-left:.6rem;
}


/* SOCIAL FOLLOW */



.social-follow .page-width h2 {
  padding-top: 6rem;
  margin-top: 6rem;
  border-top: 1px solid;
  font-family: Wotfard;
  font-weight: 200;
  font-size: 2.8rem;
  text-transform: uppercase;
  width:100%;
  text-align:center;
  
}

.social-follow .icons {
  display:flex;
  justify-content:center;
  column-gap:.6rem;
  padding-bottom: 6rem;
  margin-bottom: 6rem;
  border-bottom: 1px solid;
}

.social-follow .icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: white;
    padding: 10px;
    background: black;
    border-radius: 40px;
  transition: all 180ms ease-out;
}

@media screen and (min-width:1024px){
  .social-follow .page-width {
    max-width:50%;
  }
}

@media screen and (min-width:1920px){
  .social-follow .page-width {
    max-width:33%;
  }
}

@media screen and (min-width:1024px){
  .social-follow .icons {
    margin-bottom: 14rem;
  }

  .social-follow .icons a:hover{
    transform:scale(1.1);
  }
}

