section#info_section {
    display: none;
}

section.blog-title {
    padding: 4rem 0 2.8rem;
}

section.blog-title h1 {
    margin: 0;
  text-transform:uppercase;
}

section.blog-title h1, section.blog-title p {
    text-align:center;
}



.blogs-list {
    margin-bottom: 6rem;
}

.navigation-container {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 2.8rem;
}

.navigation-container span {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    padding-bottom: 5px;
    cursor:pointer;
}

.navigation-container span.active {
    font-weight: 800;
}

.navigation-container span.active::before{
  content:"";
  display:block;
  position:absolute;
  background:black;
  width:100%;
  height:5px;
  bottom:0;
  left:0;
}

div#blog-posts.news>article:not(.news){
  display:none;
}
div#blog-posts.events>article:not(.events){
  display:none;
}
div#blog-posts.trends>article:not(.trends){
  display:none;
}

div#blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ARTICLE CARD */

article.blog-article {
  width:100%;
  overflow:hidden;
  margin-bottom:1.8rem;
}

@media screen and (min-width:768px){

  article.blog-article:not(:first-of-type){
    width:48%;
  }

}

@media screen and (min-width:1024px){

  article.blog-article{
    margin-bottom:3.6rem;
  }
  
  article.blog-article:nth-child(n+4){
    width:31%;
  }
  
}

article.blog-article a {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  width: 100%;
  height: 480px;
  padding: 3.6rem;
}

@media screen and (min-width:1024px){

  article.blog-article a{
    padding-top:18rem;
    justify-content:flex-start;
    height:520px;
  }
  
}

@media screen and (min-width:1440px){

  article.blog-article a {
    height: 680px;
    padding: 8.8rem;
    padding-top: 32rem;
  }
  
}

article.blog-article a figure {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index:-1;
}

article.blog-article a figure img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: .7;
  transition: all 180ms ease-out;
}

@media screen and (min-width:1024px){

  article.blog-article a div>span {
    position: absolute;
    top: 100%;
    left: 3rem;
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    opacity:0;
    background: rgba(255, 255, 255, .95);
    color: black;
    transition:all 180ms ease-out;
  }

  article.blog-article:hover a div>span {
    top: 3rem;
    opacity:1;
  }
  
}

@media screen and (min-width:1024px){

  article.blog-article:nth-child(1) div {
    max-width:48%
  }

}

article.blog-article a div > * {
    color:white;
}

article.blog-article a div small {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 2.2rem;
    display: block;
}

article.blog-article a div h3{
  text-transform:uppercase;
  font-family:Wotfard;
  margin:0 0 1.8rem;
  padding:1.8rem 0;
  border-top:1px solid;
  border-bottom:1px solid;
}

article.blog-article a div p {
    font-size: 1.3rem;
    font-weight: 200;
}

article.blog-article a div>span {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

article.blog-article a div>span svg {
  margin-left:.6rem;
}


/*

div#blog-posts {
    display: flex;
    flex-direction: column;
}

div#blog-posts>article {
    display: flex;
    flex-direction: row;
    column-count: 2;
    column-gap: .6rem;
    margin-bottom: 2.2rem;
    order:2;
  position:relative;
}




div#blog-posts>article figure {
    overflow: hidden;
    margin: 0;
    height: 220px;
    max-width: calc(50% - .5rem);
    min-width: calc(50% - .5rem);
}

div#blog-posts>article figure img {
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
}

div#blog-posts>article div {
    max-width: calc(50% - .5rem);
    min-width: calc(50% - .5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

div#blog-posts>article div p{
  display:none;
}

div#blog-posts>article div h3 {
    font-family: Wotfard;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

div#blog-posts>article div a.btn {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
}

div#blog-posts>article div a.btn:before {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div#blog-posts>article div a.btn span {
    margin-right: 0.8rem;
}

*/

/* FEATURED POSTS */

/*

div#blog-posts>article.featured{
  order:1;
}

div#blog-posts>article.featured {
    width: 100%;
    min-height: 420px;
}



div#blog-posts>article.featured figure{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-width:100%;
  max-width:100%;
  height:100%;
  background:black;
}

div#blog-posts>article.featured figure img{
  opacity:.8;
}

div#blog-posts>article.featured div {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    text-align: left;
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 6rem;
    border: none;
}

div#blog-posts>article.featured div small,
div#blog-posts>article.featured div h3,
div#blog-posts>article.featured div p,
div#blog-posts>article.featured div a.btn {
  color:white;
}

div#blog-posts>article.featured div h3{
  padding:2rem 0;
  width:100%;
  border-top:1px solid;
  border-bottom:1px solid;
}

div#blog-posts>article.featured div p {
  display:block;
}

*/

/* RESPONSIVE */

/*

@media screen and (min-width:768px){

div#blog-posts {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

div#blog-posts>article.featured, div#blog-posts>article{
  width:calc(50% - .5rem);
}

.featured-1 div#blog-posts>article.featured, .featured-3 div#blog-posts>article.featured:nth-child(1), .featured-5 div#blog-posts>article.featured:nth-child(1){
  width:100%;
}

div#blog-posts>article:not(.featured){
  flex-direction: column;
}

div#blog-posts>article:not(.featured) figure, div#blog-posts>article:not(.featured) div {
  min-width: 100%;
  max-width: 100%;
}

div#blog-posts>article:not(.featured) figure{
  min-height:320px;
}

div#blog-posts>article:not(.featured) div {
  border: none;
  padding: 2.6rem 0;
  text-align: left;
  align-items: flex-start;
}
  
}

@media screen and (min-width:1024px){


div#blog-posts {
  width: 800px;
  margin: 0 auto;
}

}

@media screen and (min-width:1440px){

.blogs-list {
  margin-bottom: 10rem;
}


div#blog-posts {
  width: auto;
  margin: 0 auto;
  justify-content:center;
}

div#blog-posts>article.featured {
  min-height: 620px;
}

div#blog-posts>article.featured div {
    margin-top: 20rem;
    padding:4rem;
    padding-right: 51%;
    
}

div#blog-posts>article.featured{
  width:50%;
  border:1.6rem solid transparent;
}

  div#blog-posts>article{
    width:34%;
    border:1.6rem solid transparent;
  }

  div#blog-posts>article:not(.featured) figure {
    min-height: 420px;
}

}

*/