section#info_section {
    display: none;
}

section.blog-title {
    padding: 4rem 0 2.8rem;
}

section.blog-title h1 {
    margin: 0;
  text-transform:uppercase;
}

section.blog-title h1, section.blog-title p {
    text-align:center;
}

.navigation-container {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 2.8rem;
}

.navigation-container span {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    padding-bottom: 5px;
    cursor:pointer;
}

.navigation-container span.active {
    font-weight: 800;
}

.navigation-container span.active::before{
  content:"";
  display:block;
  position:absolute;
  background:black;
  width:100%;
  height:5px;
  bottom:0;
  left:0;
}

div#blog-posts.news>article:not(.news){
  display:none;
}
div#blog-posts.events>article:not(.events){
  display:none;
}
div#blog-posts.trends>article:not(.trends){
  display:none;
}

div#blog-posts>article {
    display: flex;
    flex-direction: row;
    column-count: 2;
    column-gap: 1.6rem;
}

div#blog-posts>article figure {
  overflow:hidden;
}

/* FEATURED POSTS 

.featured div#blog-posts article:nth-child( -n+3 ){
  
}

*/