section#info_section {
    display: none;
}

/* HEADING BLOG */

.container-black {
  background-color:black;
}

.container-white {
  background-color:white;
}

.container-grey {
  background-color:#e7e8eb;
}

.container-black .container-title .post-title > * {
  color:white;
}

h1{
  text-transform:uppercase;
}