.collections-grid .page-width article {
  display: flex;
  flex-direction: column;
}

.collections-grid .page-width article figure {
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

