.collections-grid .page-width article {
  display: flex;
  flex-direction: column;
  row-gap: 2.2rem;
}

.collections-grid .page-width article figure {
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh;
}

