section#shopify-section-template--16077895303423__main .page-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1.title.title--primary {
  text-align: center;
  width:100%;
}

