section#shopify-section-info-icons, #shopify-section-section-info-icons {
  display: none;
}

#shopify-section-footer {
  margin-top: 0;
}

.customer:not(.account, .addresses) {
  min-height: 70vh;
  width: 100%;
  margin: 0!important;
  max-width: 100%!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem!important;
  background: url(https://maisondvie.com/cdn/shop/files/about-maison-d-vie.webp);
  background-size: cover;
}

@media screen and (min-width:991px){
  .customer {
    background-position: center;
  }
}

.box {
  width: 100%;
  padding: 4rem 3.4rem;
  background: #000000ad;
  border-radius: 1px;
  max-width: 420px;
  border: 1px solid #494949;
}

h1, .h1 {
  color: #fff;
  font-family: Wotfard,Arial,sans-serif;
  font-weight: 200;
  letter-spacing: .4rem;
  line-height: 4rem;
}

.account h1, .addresses h1 {
  color: black;
  margin:0;
}


.login p {
  margin: 1.5rem 0;
  color: white;
  font-size: 1.4rem;
  font-weight: 200;
}

form#customer_login a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.2rem;
}

form#customer_login a:first-of-type {
  opacity: .6;
}

form#customer_login a:last-of-type {
  text-transform:uppercase;
  letter-spacing: .4rem;
}

.the-field label:not(.select-one) {
  display:none!important;
}

.the-field {
  width: 100%;
}

.the-field{
  margin-bottom:1.2rem;
}

.the-field input, .the-field input:focus-visible, .the-field select {
  width:100%;
  background:transparent;
  color:white;
  padding:1.6rem 1rem 1.4rem 0!important;
  font-family:'Wotfard',Arial, sans-serif;
  border:0;
  border-bottom:1px solid white;
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.the-field select {
  appearence:auto;
  -moz-appearance:auto;
  -webkit-appearance:auto;
  margin-bottom:4rem;
}

.the-field select option {
  color:black;
}

.select-one {
  color: #fff;
  display: flex;
  text-align: left;
  margin-bottom: 2rem;
}

.select-one input {
  width: 22px;
  margin: 0;
    margin-right: 0px;
  margin-right: 1.4rem;
  height: 30px;
}

.the-field input::placeholder {
  color:white;
  font-family:'Wotfard',Arial, sans-serif;
  opacity:.6;
  font-size:1.6rem;
  font-weight:200;
}

main form button {
  text-transform: uppercase;
  font-family: 'Wotfard', Arial, sans-serif;
  letter-spacing: .4rem!important;
  padding: 2rem!important;
  width: 100%;
  border: 1px solid white!important;
}

main form button:hover {
  color:black!important;
  background:white!important;
}

/* ACCOUNT PAGE */


.orders-history h2, .account-details h2 {
  font-family: 'Wotfard', Arial, sans-serif;
}

.account-container {
  column-gap: 4rem;
}

.customer.account div.heading {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

a.logout-btn {
  color: white;
  text-decoration: none;
  background: black;
  padding: 1.2rem;
  border-radius: 1px;
  font-weight: 200;
}

/* FORM MESSAGES */

h2.form__message, .login h3 {
  color: white;
  text-align: left;
  font-size: 1.6rem!important;
  font-family: 'Wotfard',Arial,sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.errors ul li {
  color: white;
  font-family: 'Wotfard';
  font-size: 1.2rem;
  font-weight: 200;
}

/* RETURNS PAGE & FORM */

.returns-box h1, .returns-box .h1 {
  text-align: left;
}

.returns-box div > p, .returns-box div > p > a, .returns-box div > small {
  color:white;
  text-align:left;
}

.returns-box div > p > a {
  text-decoration:underline;
}

.returns-box div > small {
  font-size: 1.2rem;
  display: block;
  margin-top: 3.4rem;
}

.refund-btn {
  text-decoration:none;
}

.refund-btn button {
  display: flex;
  padding: 2rem;
  padding-right: 4rem;
  flex-direction: column;
  text-align: left;
  position: relative;
  margin: 0 0 1.4rem;
  align-items: flex-start;
  gap: 1rem;
  text-decoration: none;
  font-weight:200;
  border:1px solid white;
  border-radius:1px;
  font-size:1.4rem;
  color:#8c8c8c;
}

.refund-btn button span {
  text-transform:uppercase;
  font-size:1.6rem;
  color:white;
}

.refund-btn button .icon.icon-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

button.back-btn {
  border: unset !important;
  width: auto;
  margin: 0;
  display: block;
  padding: 0 !important;
  background: transparent !important;
  min-width: unset;
}