section#shopify-section-template--16077895303423__main .page-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1.title.title--primary {
    text-align: center;
    width: 100%;
    margin: 6rem auto 2rem;
}

button.selector {
    font-family: Wotfard;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 16px;
    border-radius: 1px;
    margin: 0 6px;
    background-color: white;
    border: 1px solid #b1b1b1;
    min-width: 16%;
}