article.prod-card {
    position: relative;
    text-align: center;
}

article.prod-card figure {
    margin: 0;
    width: 100%;
    height: 48rem;
    overflow: hidden;
    background: transparent;
    border: 1px solid #e5e5e5;
    position:relative;
    margin-bottom:8px;
}

article.prod-card figure img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition:all 450ms ease-out;
}

article.prod-card figure img.one{
  z-index:1;
}

article.prod-card:hover figure img {
  transform:scale(103%);
}

article.prod-card:hover figure.hover-fx-change img.one{
  display:none;
}


h3.card__heading {
    font-family: Wotfard;
    text-transform: uppercase;
    margin: 1.2rem 0;
    font-size: 1.5rem;
    letter-spacing:0;
    font-weight:lighter;
}

p.vendor-name {
    font-family: Grafier;
    font-size: 1.8rem;
    opacity: 1;
    margin-top: 1rem;
    letter-spacing:0;
}

a.full-unstyled-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 1;
}

h3#ContactFooter-success {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
    background: #000000db;
    z-index: 3;
    cursor: pointer;
    flex-direction: column;
    margin: 0;
    -webkit-animation: display-none-transition 4s both;
    animation: display-none-transition 4s both;
}

@-webkit-keyframes display-none-transition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes display-none-transition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h3#ContactFooter-success svg.icon.icon-success {
    width: 100px;
    height: 60px;
    margin: 0;
  
}