section#shopify-section-template--16077895303423__main .page-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  	position:relative;
}

h1.title.title--primary {
    text-align: center;
    width: 100%;
    margin: 6rem auto 2rem;
}

h1.title.title--primary::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #b1b1b1;
    left: 0;
    bottom: 0;
}

section#shopify-section-template--16077895303423__main .page-width p {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 0;
    padding: 0 16%;
}

button.selector {
    font-family: Wotfard;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 16px;
    border-radius: 1px;
    margin: 0 6px;
    background-color: white;
    border: 1px solid #b1b1b1;
    min-width: 16%;
    cursor:pointer;
  	transition:all 200ms ease-out;
}

button.selector:hover, button.selector.active {
	color:white;
  	background-color:black;
  	border-clor:black;
  
}

.page-width.collections {
    padding: 0!important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    flex-wrap: wrap;
    max-width: calc(var(--page-width) + 20px);
}
.page-width.collections:not(.active){
	display:none;
}


/* CUSTOM CARD SETTINGS */

a.collection-single {
  overflow: hidden;
  text-decoration:none;
  margin-bottom:2rem;
}

a.collection-single {
    width: calc(25% - 20px);
    border: 10px solid transparent;
}

a.collection-single article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 18rem 18px;
}

a.collection-single article figure {
    max-width: 100%;
    margin: 0;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
}

a.collection-single article figure img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    transition: all 280ms ease-out;
}

a.collection-single:hover article figure img {
	opacity:.75;
  	transform:scale(105%);
}

a.collection-single:hover article button {
	font-weight:600;
}

a.collection-single article h3 {
    position: relative;
    color: #fff;
    margin: 0;
  font-size:2.8rem;
}

a.collection-single article button {
    position: relative;
    color: #fff;
    font-family: Wotfard;
    background: transparent;
    border: none;
  	font-size:1.6rem!important;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1rem;
  	cursor:pointer;
}

/* CUSTOM CARD DESCRIPTION SETTINGS */

a.collection-single.have-desc {
	margin-bottom:3.6rem;
}

a.collection-single.have-desc article {
    padding: 38rem 16px 0;
}

a.collection-single.have-desc article figure {
    max-height: 36rem;
    top: 0;
    overflow: hidden;
}

a.collection-single.have-desc article h3 {
    color: black;
}

a.collection-single.have-desc article p {
	color:black;
  	font-size:1.6rem;
  	line-height: 2rem;
  	font-weight:300;
}

a.collection-single.have-desc article button {
    color: black;
}


/* ------------------------------------------------------ RESPONSIVE STARTS HERE ------------------------------------------------------ */



@media screen and (max-width:1440px){

  .page-width.collections {
    padding-left: calc(5rem - 10px)!important;
    padding-right: calc(5rem - 10px)!important;
  }
  
  h1.title.title--primary:after {
    width: calc(100% - 10rem);
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  a.collection-single article h3 {
    font-size: 2rem;
  }

}

@media screen and (max-width:1024px){
  
  section#shopify-section-template--16077895303423__main .page-width p{
  	padding:0;
  }

  a.collection-single {
    width: 33.33%;
    border: 10px solid transparent;
  }
  
  a.collection-single article {
    padding: 14rem 18px;
  }
  
  a.collection-single article figure img {
    opacity: .8;
  }
  
  
  
  
}