/* FONTS */

h2 {
    text-align: center;
  	margin-bottom: 16px;
}

p.section-description {
    text-align: center;
    margin-bottom: 42px;
}

/* BANNER */

.homepage-banner .banner__media {
    
    width: 100%;
    max-width: calc(100% - 10rem);
    left: 0;
  	right: 0;
    margin: 0 auto;
}

.homepage-banner :after{
	content:unset;
}


/* FEATURED PRODUCTS */


/* CATEGORIES GRID */

.categories-hp .collage.collage--mobile {
    display: flex;
    flex-wrap: wrap;
  	justify-content:space-between;
}

.categories-hp .collage.collage--mobile .collage__item{
	width:24%;
}

.categories-hp .collage.collage--mobile .collage__item:nth-child(1), .categories-hp .collage.collage--mobile .collage__item:nth-child(2) {
    width: 49%;
}