/* BANNER */


/* FEATURED PRODUCTS */


/* CATEGORIES GRID */

.categories-hp .collage.collage--mobile {
    display: flex;
    flex-wrap: wrap;
}

.categories-hp .collage.collage--mobile .collage__item{
	width:24%;
}