/* FONTS */

h2 {
    text-align: center;
  	margin-bottom: 16px;
}

.section-description, .section-description p {
    text-align: center;
    margin-bottom: 42px;
}

/* BANNER */

.homepage-banner .banner__media, .homepage-banner::after {
    
    width: 100%;
    max-width: calc(100% - 10rem);
    left: 0;
  	right: 0;
    margin: 0 auto;
}

section#shopify-section-template--16077895434495__image_banner {
    margin-bottom: 40px;
}

.section-title h2, .section-title p {
    text-align: center;
    width: 100%;
    margin: 0;
}

/* LAYOUT */

section {
    margin-top: 48px;
    margin-bottom: 48px;
}



/* FEATURED PRODUCTS */

.slider-counter.caption {
    display: none;
}

.slider-buttons {
    position: absolute;
    top: 50%;
    z-index: 32;
    width: 100%;
    transform: translateY(-50%);
}

button.slider-button {
    background-color: white;
    border-radius: 2px;
    transition: all 200ms ease-in;
}

button.slider-button:hover {
    background-color: black;
}

button.slider-button:hover .icon{
	color:white;
}




/* CATEGORIES GRID */

.categories-hp .collage.collage--mobile {
    display: flex;
    flex-wrap: wrap;
  	justify-content:space-between;
}

.categories-hp .collage.collage--mobile .collage__item{
	width:24%;
}

.categories-hp .collage.collage--mobile .collage__item:nth-child(1), .categories-hp .collage.collage--mobile .collage__item:nth-child(2) {
    width: 49.3%;
}

.slider--desktop.grid--5-col-desktop .grid__item {
    /* width: calc((100% - var(--desktop-margin-left-first-item)) / 5 - var(--grid-desktop-horizontal-spacing) * 2); */
    width: -webkit-fill-available;
}
.slider--desktop .slider__slide:first-child {
    margin-left: auto;
    scroll-margin-left: var(--desktop-margin-left-first-item);
}

.card--extend-height.card--standard.card--text .card__inner, .card--extend-height.card--media .card__inner{
max-height:40rem;
}


/* DESIGNERS COLLECTION */

.custom-designer-collection .title-wrapper-with-link h2, .custom-designer-collection .title-wrapper-with-link p {
    text-align: center;
    width: 100%;
    margin: 0;
}

.custom-designer-collection slider-component.slider-mobile-gutter ul li:nth-child(1),
.custom-designer-collection slider-component.slider-mobile-gutter ul li:nth-child(2),
.custom-designer-collection slider-component.slider-mobile-gutter ul li:nth-child(3),
.custom-designer-collection slider-component.slider-mobile-gutter ul li:nth-child(4){
    width: 25%;
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 4 / 5);
}



/* RESPONSIVE STARTS HERE  */


@media screen and (max-width:480px){
  
  /* Banner */

section#shopify-section-template--16077895434495__image_banner {
    margin-top: 0;
    margin-bottom: 22px;
}

  .homepage-banner .banner__media, .homepage-banner:after{
  	max-width:unset;
  }

section {
    margin-bottom: 22px;
}
  
  .page-width {
    padding-top: 0;
}
  
  /* Product badges */
  
  .section-template--16077895434495__featured_collection-padding {
    padding-bottom: 0!important;
}
  
  .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item, .grid--peek .grid__item {
    width: calc(50% - 20px);
}
  
  .price__sale span:nth-child(2) {
    display: none;
}
  
  .section-template--16077895434495__featured_collection-padding {
    padding-bottom: 0;
}

  .section-title.title-wrapper-with-link {
    margin-top: 0;
}
  
  .card__heading {
    font-size: 1.4rem;
}
  
  .card-information>.price {
    font-size: 1.2rem;
    font-family: Grafier;
}
  
  .caption-with-letter-spacing.light {
    font-size: 1.2rem;
    letter-spacing: 0.4px;
}
  
  
  
  /* Collections */
  
  .categories-hp .collage.collage--mobile .collage__item:nth-child(1), .categories-hp .collage.collage--mobile .collage__item:nth-child(2) {
    width: 100%;
}
  
  .card--extend-height.card--standard.card--text .card__inner, .card--extend-height.card--media .card__inner {
    max-height: 18rem;
    height: 18rem;
}

}