/* CUSTOMIZATION COLECTION PAGES */


section#banner_section {
    width: fit-content;
    max-width: fit-content;
    min-width: unset;
      padding-top: 0;
}


section#banner_section .collection-hero__inner {
    flex-direction: column;
  	gap: 2rem;
}

section#banner_section .collection-hero__image-container.media.gradient {
    width: 100%;
    margin: 0;
    min-width: 100%;
}

section#banner_section .collection-hero__inner .collection-hero__text-wrapper {
    padding: 0;
    width: 100%;
}



/* Aside */

aside#main-collection-filters {
    min-width: 22%;
}

.facets__form-vertical {
    width: 100%;
}

.collection-hero__image-container.media.gradient {
    min-height: 300px;
}

h1.collection-hero__title span {
    font-family: Wotfard;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
}


.readmore p {
    max-height: 100px;
    overflow: hidden;
}

.readless p{
	max-height:unset;
}


.collection-hero__description.rte.readmore::after{
content:'Read more';
}

.collection-hero__description.rte.readless::after{
content:'Read less';
}

.collection-hero__description.rte::after{
	margin-top: 18px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
}