.nl-subscribtion {
  position: fixed;
  bottom: 1.5rem;
  left: -100%;
  z-index: 2;
  transition: all 400ms ease-in-out;
  background:black;
  width:calc(88% - 3rem);
  overflow:hidden;
  margin:0;
  padding: 4rem 2.5rem;
}

.nl-subscribtion.open {
  left:1.5rem;
}

#closePopup {
  width: 48px;
  height: 48px;
  display: flex;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px;
}

#closePopup .icon {
  fill: white;
  stroke: white;
}

.nl-subscribtion > * {
  color:white;
}

.nl-subscribtion figure.background {
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  opacity: .8;
}

.nl-subscribtion figure img{
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
}

.nl-subscribtion h4 {
  text-transform: uppercase;
  margin: 0 0 .4rem;
  font-size: 1.8rem;
}

.nl-subscribtion p {
  text-transform:uppercase;
  margin-bottom: .8rem;
}

#contact_Popup {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#contact_Popup input {
  background:transparent;
  border:1px solid white;
  color:white;
  margin: 0;
  padding:10px;
}

#contact_Popup input:focus-visible {
  outline: unset!important;
  outline-offset: unset!important;
  box-shadow: unset!important;
}

#contact_Popup input::placeholder {
  color:white;
  font-size:1.2rem;
  opacity:1;
  font-family: Wotfard;
}

#contact_Popup button {
  margin: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.1rem;
  border: 0;
  font-family: Wotfard;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

#contact_Popup button .icon {
  margin-left:1.5rem;
}

@media screen and (min-width:768px){
  
  .nl-subscribtion {
    padding: 5rem 4rem;
  }

  .nl-subscribtion h4 {
    font-size: 2.4rem;
  }

  .nl-subscribtion p {
    margin-bottom: 1.2rem;
  }

  #contact_Popup{
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    column-gap:1.5rem;
    row-gap:1.5rem;
  }

  #contact_Popup input {
    flex: 1 1 0px;
  }  

  #contact_Popup button{
    width:100%;
  }
  
}

@media screen and (min-width:1200px){

  .nl-subscribtion {
    max-width: 480px;
    bottom:2.5rem;
  }

  #contact_Popup button, #contact_Popup button .icon{
    transition:all 160ms ease-out;
  }

  #contact_Popup button:hover {
    color:white;
    background:black;
  }

  #contact_Popup button:hover .icon {
    margin-left:2rem;
    stroke:white;
  }

}