.nl-subscribtion {
  position: fixed;
  bottom: -100%;
  left: 1.5rem;
  z-index: 2;
  transition: all 400ms ease-in-out;
  background:black;
  width:calc(100% - 3rem);
  overflow:hidden;
}

.nl-subscribtion.open {
  bottom:1rem;
}

.nl-subscribtion > * {
  color:white;
}