#MainContent {
  padding-top: 0 !important;
}

/* FONTS */

h1 {
  font-family: Wotfard;
  font-size: 2.8rem;
  margin: 0;
  line-height: 3rem;
}

h1 span {
  display: block;
  font-family: Grafier,Times,serif;
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 1px;
  margin-bottom:1rem;
}

h2 {
  text-transform:none;
  font-size:2.2rem;
}

/* PAGE STRUCTURE */

@media screen and (max-width:1024px){
  .product-info .the-product.page-width {
    padding: 0;
  }
}

.page-width.column > div {
  margin: 4.8rem 0;
}

/* CAROUSEL SETTINGS */

@media screen and (max-width:1024px){
  .splide__arrows.splide__arrows--ltr{
    display:none;
  }
}

.slider-container figure.splide__slide {
  overflow: hidden;
  border-radius: 1px;
  height: 80vh;
  max-height: 640px;
}

.slider-container figure.splide__slide img {
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
}

.thumbnails {
  display:flex;
  justify-content:flex-start;
  padding:0 1.5rem;
  margin:.8rem 0;
}

figure.thumbnail {
  margin:0;
  width:40px;
  height:40px;
}

figure.thumbnail:not(.is-active){
  opacity:.5;
}

figure.thumbnail img {
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
  object-position:top;
}

/* FEATURES SECTION */

.features button {
  display: flex;
  background: #F1F1F1;
  border: 0;
  border-radius: 1px;
  padding: 1rem;
  column-gap: .6rem;
  align-items:center;
}

.features button .icon {
  width: 24px;
  fill: black;
  stroke: none;
  height: 24px;
  object-fit: contain;
}

.features button .icon.icon-heart {
  fill: transparent;
  stroke: black;
}

.features button span {
  font-family: 'Wotfard', arial, sans-serif;
  font-weight:200;
}

/* COLORS SECTION */

.the-product-colors {
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}

.the-product-colors h2 {
  width:100%;
}