#MainContent {
  padding-top: 0 !important;
}

@media screen and (max-width:1024px){
  .product-info .the-product.page-width {
    padding: 0;
  }
}

/* CAROUSEL SETTINGS */

.slider-container figure.splide__slide {
  overflow: hidden;
  border-radius: 1px;
  height: 80vh;
  max-height: 640px;
}

.slider-container figure.splide__slide img {
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
}

.thumbnail {
  margin:0;
  width:40px;
  height:40px;
}