/* Page size */

main > section {
    max-width: 1080px;
    margin: 0 auto;
}

main > section:first-of-type {
    margin-top: 80px;
    margin-bottom: 40px;
}

/* Long description block */

.rich-text__blocks {
    max-width: unset;
}



/* Accordion */

.custom-tabs{}