/* Page size */

main > section {
    max-width: 1080px;
    margin: 0 auto;
}

main > section:first-of-type {
    margin-top: 80px;
    margin-bottom: 40px;
}

/* Gallery */

li.thumbnail-list__item.slider__slide {
    border-radius: 100%;
    overflow: hidden;
  border:0px;
}

li.thumbnail-list__item.slider__slide > button > img {
  	width: 100%;
    object-fit: cover;
    object-position: top;
}

.thumbnail, .thumbnail[aria-current]{
	border:0px;
}
  
  button.slider-button {
    background-color: white;
    border-radius: 2px;
}
  
  .slider-button .icon {
    width: 14px;
    height: 12px;
}
  

slider-component#GalleryThumbnails-template--16077895598335__main {
    padding-left: 10px;
    padding-right: 10px;
}

.thumbnail-slider .thumbnail-list.slider--tablet-up .thumbnail:hover {
    opacity: 1;
}

.thumbnail-slider .thumbnail-list.slider--tablet-up .thumbnail:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: white;
    opacity: 0;
    transition: all 200ms ease-in;
}

.thumbnail-slider .thumbnail-list.slider--tablet-up .thumbnail:hover::before{
	opacity:.5;
}


/* only for desktop */




@media screen and (min-width:1200px){
  
  ul#Slider-Gallery-template--16077895598335__main {
    margin-bottom: 0;
}


  media-gallery#MediaGallery-template--16077895598335__main {
      position: relative;
      top: 0;
    overflow:hidden;
  }
  
  
  slider-component#GalleryThumbnails-template--16077895598335__main {
    position: absolute;
    width: 100%;
    bottom: -100px;
    transition: all 200ms ease-in;
    z-index:2;
    background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,0.5018382352941176) 0%, rgba(0,0,0,0) 90%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.5018382352941176) 0%, rgba(0,0,0,0) 90%);
	background: linear-gradient(0deg, rgba(0,0,0,0.5018382352941176) 0%, rgba(0,0,0,0) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
  
  media-gallery#MediaGallery-template--16077895598335__main:hover slider-component#GalleryThumbnails-template--16077895598335__main {
    
    bottom:0;
  }
  

  
}

/* Brand name */

p.product__text.caption-with-letter-spacing {
    font-size: 16px;
    margin-bottom: 14px;
}

/* Description */

.product__description.rte.quick-add-hidden {
    margin-bottom: 40px;
    margin-top: 16px;
}





/* Price */

.product__info-wrapper.grid__item.product__info-wrapper--extra-padding .price__regular { float:left;}

.product__info-wrapper.grid__item.product__info-wrapper--extra-padding .price__regular span {
    font-family: Grafier;
    font-weight: 800;
    font-size: 24px;
}

.product__info-wrapper.grid__item.product__info-wrapper--extra-padding .price__container::after {
    content: "Including VAT";
    float: left;
    opacity: .5;
    font-size: 14px;
  	margin-top: 10px;
    margin-left: 15px;
}

/* Product description */

.rich-text__wrapper.rich-text__wrapper--left.page-width .rich-text__blocks {
    max-width: unset;
}


/* Product form */




/* Variants picker */

/* .product-form__input.product-form__quantity, variant-selects.no-js-hidden {
    float: left;
    width: 50%;
} */

variant-selects.no-js-hidden, .product-form__input.product-form__quantity {
    margin: 0;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.product-form__input.product-form__quantity {
	max-width:calc(50% - 14px);
}


quantity-input.quantity {
    width: 100%;
}


input#Quantity-template--16077895598335__main {
    width: 80%;
    max-width: 60%;
}

button.quantity__button.no-js-hidden {
    width: 20%;
}

.product-form__buttons {
    max-width: unset;
}

/* Long description block */


.rich-text__blocks {
    max-width: unset;
}



/* Accordion */

.custom-tabs{}