#MainContent {
  padding-top: 0 !important;
}

/* FONTS */

h1 {
  font-family: Wotfard;
  font-size: 2.8rem;
  margin: 0;
  line-height: 3rem;
}

h1 span {
  display: block;
  font-family: Grafier,Times,serif;
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 1px;
  margin-bottom:1rem;
}

h2 {
  text-transform:none;
  font-size:2.2rem;
}

@media screen and (min-width:1440px){
  
  h1 span {
    font-size: 3.8rem;
  }
  
}

/* PAGE STRUCTURE */

@media screen and (max-width:1023px){
  .product-info .the-product.page-width {
    padding: 0;
  }
}

.page-width.column > div {
  margin: 5.2rem 0;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  /* Tablet specific */
  .the-product .page-width.column {
    max-width: 80%;
  }
}

@media screen and (min-width:1024px){
  .the-product {
    display: flex;
    column-gap: 6rem;
  }
  .column {
    padding: 0;
    width:50%;
  }
  .the-product .column:first-of-type{
    width:55%;
  }
  .the-product .column:last-of-type{
    width:45%;
  }
}

@media screen and (min-width:1200px){
  
  .the-product {
    column-gap: 10rem;
  }

  .the-product:not(.details) .column:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3.8rem;
  }

  .page-width.column > div {
    margin: 0;
  }
  
}

@media screen and (min-width:1440px){
  .the-product {
    column-gap: 12rem;
  }
}

/* CAROUSEL SETTINGS */

@media screen and (max-width:1023px){
  .splide__arrows.splide__arrows--ltr{
    display:none;
  }
}

.slider-container figure.splide__slide {
  overflow: hidden;
  border-radius: 1px;
  height: 80vh;
  max-height: 640px;
}

.slider-container figure.splide__slide img {
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
}

.thumbnails {
  display:flex;
  justify-content:flex-start;
  padding:0 1.5rem;
  margin:.8rem 0;
}

figure.thumbnail {
  margin:0;
  width:40px;
  height:40px;
}

figure.thumbnail:not(.is-active){
  opacity:.5;
}

figure.thumbnail img {
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
  object-position:top;
}

@media screen and (min-width:768px) and (max-width:1023px){
  /* Tablet specific */
  .slider-container figure.splide__slide {
    max-height: 780px;
  }  
  .thumbnails {
    padding: 0 calc(5rem + 10%);
    margin:4rem 0;
  }
  
}

@media screen and (min-width:1024px){
  
  .slider-container figure.splide__slide {
    max-height: 740px;
  } 

  .splide__arrow {
    background: transparent!important;
    border-radius: 0!important;
    border: 1px solid black!important;
    width: 50px!important;
    height: 50px!important;
    transition:all 200ms ease-out;
  }

  .splide__arrow:hover {
    background: white!important;
  }

  .splide__arrow--next {
    right: -25px!important;
  }

  .splide__arrow--next:hover{
    padding-left:1rem;
  }

  .splide__arrow--prev {
    left: -25px!important;
  }

  .splide__arrow--prev:hover {
    padding-right:1rem;
  }

  .thumbnails {
    justify-content: center;
  }
}

@media screen and (min-width:1200px){

  .slider-container figure.splide__slide {
    max-height: unset;
    height: 100vh;
    min-height: 890px;
  }
  
}

@media screen and (min-width:1440px){

  .slider-container figure.splide__slide {
    min-height: 1020px;
  }

  .thumbnails {
    margin: 2rem auto;
  }

  figure.thumbnail {
    width:50px;
    height:50px;
    cursor:pointer;
  }

  .slider-container figure.splide__slide img{
    object-position:top;
  }
  
}

/* FEATURES SECTION */

.features {
  display: flex;
  column-gap: 1.2rem;
}

.features button {
  display: flex;
  background: #F1F1F1;
  border: 0;
  border-radius: 1px;
  padding: .8rem;
  column-gap: .6rem;
  align-items:center;
}

.features button .icon {
  width: 24px;
  fill: black;
  stroke: none;
  height: 24px;
  object-fit: contain;
}

.features button span {
  font-family: 'Wotfard', arial, sans-serif;
  font-weight:200;
}

@media screen and (min-width:1024px){
  .features button, .features button .icon{
    transition:all 200ms ease-out;
  }
  .features button:hover {
    background:#E1DEDE;
  }
}

@media screen and (min-width:1200px){

  .features button {
    cursor:pointer;
  }
  
}

/* COLORS SECTION */

.the-product-colors {
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
  column-gap: 1.2rem;
  row-gap:1.2rem;
}

.the-product-colors h2 {
  width:100%;
  margin:0;
}

.the-product-colors a {
  display:block;
}


.the-product-colors figure {
  margin:0;
  overflow:hidden;
  width:50px;
  height:50px;
  border:1px solid #D1D1D1;
  border-radius:1px;
}

.the-product-colors a.active figure{
  border-color:black;
}

/* PRICE SECTION */

.the-product-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.6rem;
  column-gap: 2rem;
}

.price--all {
  width: 100%;
}

.the-product-form .price__container span, .the-product-form .price__container span s {
  font-size:1.8rem;
  font-weight:200;
  letter-spacing:0;
}

.price-item.price-item--sale.price-item--last{
  color:#C12828;
  font-weight:400;
}

.badge.price__badge-sale.color-accent-2 {
  background: transparent;
  color: black;
  font-weight:200;
  letter-spacing:0;
}

.product__tax.caption.rte {
  font-size: 1.2rem;
}

@media screen and (min-width:1200px){

  .the-product-form {
    max-width: 80%;
  }
  
  .the-product-form .price__container span, .the-product-form .price__container span s {
    font-size:2rem; 
  }
}

/* PRODUCT FORM */

.variants, .quantity {
  width: 50%;
  max-width: calc(50% - 1rem);
  border-bottom: 1px solid #D1D1D1;
}

.variants::after, .quantity::after{
  content:unset;
}

.variants select {
  padding:0;
}

.quantity__button:first-of-type {
  justify-content: flex-start;
}

.quantity__button:last-of-type {
  justify-content: flex-end;
}

.product-form {
  width: 100%;
}

.product-form button {
  column-gap: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 1px;
  border: 0;
  color: white;
  background: black;
  font-size: 1.6rem;
  font-family: 'Wotfard', Arial, sans-serif;
  letter-spacing: 1px;
  cursor:pointer;
}

.product-form button span {
  text-transform:uppercase;
  font-weight:200;
}

/* SIZE CHART */

#the_size.hidden{
  left:-100%;
}

#the_size {
  position: fixed;
  top: 0;
  left:0;
  background: white;
  z-index: 10;
  width: 100%;
  height: 100vh;
  padding: 4rem 0;
  overflow-y: scroll;
  transition:all 200ms ease-out;
}


#size_close {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor:pointer;
}

#size_close span {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 50px;
  height: 50px;
  padding: 18px;
  background: black;
  color: white;
}

#the_size .page-width {
  position: relative;
}


/* PRODUCT DETAILS CARE SECTION */

@media screen and (max-width:480px){
  .the-product.details > .column > div {
    margin: 5.2rem 0;
  }
}

.list ul, .par p {
  margin-top:0;
}

.list ul {
  padding: 0;
  list-style: none;
}

.list ul li {
  position: relative;
  padding-left: 2rem;
  letter-spacing: 0;
}

.list ul li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 1px;
}

.par p {
  line-height: 1.6rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .the-product.details.page-width {
    max-width: 80%;
  }
}

@media screen and (min-width:768px){
  .details .column:first-of-type {
    display:flex;
    justify-content:space-between;
  }
  .list{
    width:50%;
    padding-right:2rem;
  }
}

@media screen and (min-width:1024px){

  article.details {
    margin:5.2rem 0;
  }
  
}

@media screen and (min-width:1200px){

  .par p {
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin-bottom:1rem;
  }
  
}


/* PRODUCT SUGGESTIONS */

.combinations {
  width: 100%;
}

.to-hide {
  display:none;
}

.secondary-product {
  position:relative;
  padding:2rem;
  padding-left:calc(120px + 1.2rem);
  border:1px solid #D1D1D1;
}

.secondary-product figure {
  position:absolute;
  top:0;
  left:0;
  margin:0;
  width:120px;
  height:100%;
}

.secondary-product figure img {
  max-width:100%;
  min-width:100%;
  max-height:100%;
  min-height:100%;
  object-fit:cover;
  object-position:top;
}

.secondary-product h3 {
  font-family:'Wotfard', Arial, sans-serif;
}

.secondary-product h3 span {
  font-family:'Grafier', Times, serif;
  display:block;
  text-transform:uppercase;
}

.combinations .splide__pagination {
  position: initial;
  justify-content: flex-start;
  padding: 0;
  margin: 1.2rem 0;
}

.combinations .splide__pagination__page{
  opacity:1;
}

.combinations .splide__pagination__page.is-active {
  background: #000;
  transform: none;
}

.combinations .badge.price__badge-sold-out.color-inverse {
  color: #C12828;
  background: white;
}

.secondary-product > span {
  display: block;
  color: #fff;
  background: black;
  padding: .6rem 1.8rem;
  border-radius: 1px;
  margin-top: 1.6rem;
  width: fit-content;
}

@media screen and (min-width:1024px){
  .secondary-product > span {
    cursor:pointer;
  }
}

