.products-carousel{
  margin-bottom:10rem;
}


.products-carousel h2, .products-carousel p {
  text-align:center;
  margin: 0;
}

.products-carousel .splide {
  margin-top:2.2rem;
}

.splide__arrows {
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
  column-gap: 4rem;
}

.splide__arrow.splide__arrow--prev svg {
  transform: rotate(180deg);
}

.splide__arrow {
  background: #010101;
  border: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  corsor:pointer;
}

.splide__arrow .icon {
  stroke:white;
}