/* Page size */

main > section {
    max-width: 1080px;
    margin: 0 auto;
}

main > section:first-of-type {
    margin-top: 80px;
    margin-bottom: 40px;
}

/* Gallery */

li.thumbnail-list__item.slider__slide {
    border-radius: 100%;
    overflow: hidden;
  border:0px;
}

li.thumbnail-list__item.slider__slide > button > img {
  	width: 100%;
    object-fit: cover;
    object-position: top;
}

.thumbnail, .thumbnail[aria-current]{
	border:0px;
}
  

  
  .slider-button .icon {
    width: 14px;
    height: 12px;
    color:white;
}
  

slider-component#GalleryThumbnails-template--16077895598335__main {
    padding-left: 10px;
    padding-right: 10px;
}

.thumbnail-slider .thumbnail-list.slider--tablet-up .thumbnail:hover {
    opacity: 1;
}

.thumbnail-slider .thumbnail-list.slider--tablet-up .thumbnail:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: white;
    opacity: 0;
    transition: all 200ms ease-in;
}

.thumbnail-slider .thumbnail-list.slider--tablet-up .thumbnail:hover::before{
	opacity:.5;
}


/* only for desktop */




@media screen and (min-width:1200px){
  
  ul#Slider-Gallery-template--16077895598335__main {
    margin-bottom: 0;
}


  media-gallery#MediaGallery-template--16077895598335__main {
      position: relative;
      top: 0;
    overflow:hidden;
  }
  
  
  slider-component#GalleryThumbnails-template--16077895598335__main {
    position: absolute;
    width: 100%;
    bottom: -100px;
    transition: all 200ms ease-in;
    z-index:2;
    background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,0.5018382352941176) 0%, rgba(0,0,0,0) 90%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.5018382352941176) 0%, rgba(0,0,0,0) 90%);
	background: linear-gradient(0deg, rgba(0,0,0,0.5018382352941176) 0%, rgba(0,0,0,0) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
  
  media-gallery#MediaGallery-template--16077895598335__main:hover slider-component#GalleryThumbnails-template--16077895598335__main {
    
    bottom:0;
  }
  

  
}

/* Brand name */

p.product__text.caption-with-letter-spacing {
    font-size: 16px;
    margin-bottom: 14px;
}

/* Description */

.product__description.rte.quick-add-hidden {
    margin-bottom: 22px;
    margin-top: 10px;
}


/* Categories list */

.product__info-container .categories {
    margin-top: 0;
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 1px solid #e1e1e1;
}

.categories p {
    margin: 0;
}

.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories ul li {
    padding: 0 0 0 14px;
    position: relative;
    width: fit-content;
}



.categories ul li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    width: 8px;
    height: 8px;
    border: 1px solid #b5b5b5;
  	transition: all 200ms ease-in;
}

.categories ul li a {
    color: black;
    font-weight: 300;
    text-decoration: none;
  	transition: all 200ms ease-in;
}

.categories ul li:hover::before{
 	background-color:black; 
}

.categories ul li:hover a{
	font-weight:400;
  	text-decoration: underline;
}

/* Price */


.price.price--large {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #c7c7c7;
}

.price__container {
    min-width: 80%;
}

.price.price--large .price__container .price__sale span, .price.price--large .price__container .price__regular span, .price.price--large .price__container .price__sale span s {
    font-family: Grafier;
  	font-size: 2rem;
    letter-spacing: 0;
}
.price.price--large .price__container .price__sale span s{opacity:.6;}

.price.price--large::after {
    content: 'Including Vat';
    font-size: 1.4rem;
    float: left;
    opacity: .8;
}

.price--on-sale .price__badge-sale{ float:right; }

/* Product description */

.rich-text__wrapper.rich-text__wrapper--left.page-width .rich-text__blocks {
    max-width: unset;
}


/* Product form */


variant-selects.no-js-hidden, .product-form__input.product-form__quantity {
    margin: 0;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box;
  float:left;
}

.product-form__input.product-form__quantity {
    max-width: calc(50% - 14px);
    margin-left: 14px;
}


quantity-input.quantity {
    width: 100%;
}


input#Quantity-template--16077895598335__main {
    width: 80%;
    max-width: 60%;
}

button.quantity__button.no-js-hidden {
    width: 20%;
}

.product-form__buttons {
    max-width: 100%!important;
}



/* Accordion */
.custom-tabs {
    padding-top: 0;
}

.custom-tabs .collapsible-content__wrapper {
    background-color: white;
}

.custom-tabs .collapsible-content__wrapper .collapsible-content-wrapper-narrow {
    padding: 0!important;
    width: 100%;
    max-width: 100%;
}

.custom-tabs .collapsible-content__wrapper .collapsible-content-wrapper-narrow .accordion__content{
padding:0;
}


/* Related products */

.card--standard>.card__content, .card-information, .card__content .price, .caption-with-letter-spacing.light {
    text-align: center;
  	width:100%;
}


.full-unstyled-link {
    font-size: 16px;
}

.caption-with-letter-spacing.light {
    font-size: 14px;
}



/* RESPONSIVE STARTS HERE */



@media screen and (max-width:960px){

    main>section:first-of-type {
      margin-top: 40px;
      margin-bottom: 16px;
	}
  
   .product__info-wrapper--extra-padding {
      padding-left: 4rem!important;
  	}
  
  	.product-form__input{
     min-width:unset!important; 
    }
  
    .collapsible-content.collapsible-section-layout.isolate.page-width.custom-tabs {
      padding-top: 1rem;
  }
  

}


@media screen and (max-width:480px){
  
  main>section:first-of-type {
    margin-top: 20px;
    margin-bottom: 0;
}
  
  .product__info-wrapper--extra-padding {
    padding-left: 0!important;
}
  
  .rich-text__wrapper.rich-text__wrapper--left.page-width {
    padding: 0;
}
  
  .section-template--16077895598335__165450710886c266e6-padding {
    padding-top: 16px;
    padding-bottom: 16px;
}
  
  .custom-tabs .collapsible-content__wrapper.section-template--16077895598335__165450710886c266e6-padding.content-container.color-background-2.gradient .collapsible-content-wrapper-narrow {
    padding: 0 12px;
}
  
  .collapsible-content.collapsible-section-layout.isolate.page-width.custom-tabs {
    padding-top: 0;
}
  
  .thumbnail-list__item.slider__slide {
    max-width: 17%;
}
  
  .rich-text__text.rte {
    margin-bottom: 28px;
}
  
  /* Price */
  
  .price.price--large .price__container .price__sale span, .price.price--large .price__container .price__regular span, .price.price--large .price__container .price__sale span s {
    font-family: Grafier;
    font-size: 1.7rem;
    letter-spacing: -0.5px;
	}
  
  .price.price--large:after {
    margin-top: 6px;
	}
  
  .price__container {
    min-width: 70%;
}
  
}