section#info_section {
    display: none;
}

.container-black{
  background: #373737;
}

.container-grey{
  background: #e8e8e8;
}

.container-white{
  background: #fff;
}

.container-title{
  position:relative;
}

.post-title h1, .post-title p {
  color:#373737;
  margin:0;
}

.post-title p {
  margin-top:2.2rem;
}

.container-black .post-title h1, .container-black .post-title p {
  color:#fff;
}

.post-title {
    padding-top: 18rem;
    padding-bottom: 4rem;
}

.container-title figure{
  position:absolute;
}